
html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 50px;
}


    
//Header
header{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10;
    .innerHeader{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        background-color: white;
    }
    .logo{
        a{
            text-decoration: none;
            font-weight: 700;
            letter-spacing: 2px;
            color: black;
            text-transform: uppercase;
        }        
    }
    .navigation{
        nav {
            a{
                text-decoration: none;
                color: black;
                margin: 20px;
                text-transform: uppercase;
            }
        }
    }
}

//Intro
.intro{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 139, 0.685);
    margin-top: 100px;
    height: 400px;
    justify-content: center;
    .firstRow{
        position: relative;
        display: flex;
        flex-direction: row;
        width: 33.3%;
        .firstText{
            font-size: 4.2rem;
            font-weight: 700;
            text-transform: uppercase;
            //text-align: center;

        }
        .firstRectangle{
            height: 70px;
            width: 50px;
            border-color: yellow;
            border-style: solid;
            border-top: none;
            margin-left: 20px;
            
        }
    }
    .secondRow{
        display: flex;
        flex-direction: row;
        position: relative;
        width: 66.6%;
        left: 33.3%;
        .secondText{
            font-size: 4.2rem;
            font-weight: 700;
            text-align: right;
            text-transform: uppercase;

        }
        .secondRectangle{
            height: 50px;
            width: 100%;
            border-color: red;
            border-style: solid;
            border-right: none;
            margin-top: 7px;
            margin-left: 30px;
        }
    }
    .thirdRow{
        position: relative;
        left: 66.6%;
        width: 33.3%;
        .thirdText{
            font-size: 4.2rem;
            font-weight: 700;
            text-transform: uppercase;

        }
    }
    .fourthRow{
        position: relative;
        .thirdRectangle{
            height: 50px;
            width: 33.33%;
            border-color: blue;
            border-style: solid;
            border-left: none;
        }
    }
}


//About
.about {
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

    .innerContainer{
        //justify-content: center;
        //background-color: #f1f2f3;
        box-shadow:7px 7px 7px #f1f2f3, -7px 0 5px #f1f2f3;
        width: 1000px;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        .profilePicture {
            width: 300px;
            height: 400px;
            padding: 50px;
        }
        .aboutSection{
            top: 0%;
            padding: 50px 50px 0 0;
        }
    }
}

//Text

.title{
    font-size: 2.2rem;
    font-weight: 500;
}
.text{
    text-align: justify;
    line-height: 1.5;
}

