
.container {
    color: "#232129";
    font-family: 'Roboto', sans-serif;
}

.aboutMe {
    background-color: #f5f5f2;
    padding: 80px;
    display: flex;
}

.imageProfilePicture {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;
    clip-path: circle();
}

.imageCropper {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}

.list {
    list-style: none;
}

.listSpan{
    padding-right: 0.6em;
}


//Header
header{
    height: 80px;
    width: 100%;
    position: absolute;
    .innerHeader{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        a{
            text-decoration: none;
        }        
    }
    .navigation{
        nav {

        }
    }
}